*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeaderFont';
    src: url('HeaderFont.ttf');
}

@font-face {
    font-family: 'BodyFont';
    src: url('BodyFont.TTF');
}

h1, h2, h3{
    font-family: 'HeaderFont';
}

p, button{
    font-family: 'BodyFont';
}

body{
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.header{
    height: 25%;
    width: 100%;
    background-color: rgba(223, 137, 46);
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.title{
    text-align: center;
    color: #382a1e;
    font-weight: bold;
}


@media(min-width: 320px) {

}
@media (min-width: 1000px) {

} 

.nav-bar{
    top: 10px;
    width: 100%;
    padding: 0 1em;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em; 
}

button{
    grid-column: span 1;
    border: none;
    border: solid 0.75px black;
    background-color: rgba(223, 137, 46);
    border-radius: 5px;
    padding: .15em;
    position: relative;
    transition: transform 300ms;
}

button:hover{
    transform: translatey(6px);
}

.active{
    border: solid #893914;
    border-radius: 8px;
}


.card{
    min-height: 60%; 
    height:100%;   
    color: #382a1e;
    background-color: rgba(223, 137, 46, 0.9);
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;


}

@media(min-width: 320px) {
    .title {
        font-size: calc(50px + 70 * ((100vw - 320px) / 680));
    }
    button{
        font-size: calc(32px + 24 * ((100vw - 320px) / 680));
    }
    .active{
        border-width: calc(4px + 10 * ((100vw - 320px) / 680));
    }
    .card{
        width: calc(70% + 16 * ((100vw - 320px) / 680));
    }
    .subheader{
        font-size: calc(24px + 8 * ((100vw - 320px) / 680));
    }
    .body{
        font-size: calc(16px + 8 * ((100vw - 320px) / 680));
    }
}
@media (min-width: 1000px) {
    .title {
        font-size: 120px;
    }
    button{
        font-size: 56px;
    }
    .active{
        border-width: 14px;
    }
    .subheader {
        font-size: 32px;
    }
    .body {
        font-size: 24px;
    }
} 

.subheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25em;
}

img{
    padding-bottom: 5px;
}

.hours .body{
    line-height: 1.5;
}